<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/headerLinks') %>
        <title>S-Cart | Login</title>
</head>

<body>

    <%- include('../partials/navbar') %>

        <div class="container">
            <div class="row col-md-12">
                <div class="col-md-6">
                    <div class="img-box login">
                        <img src="public/img/login.jpg" alt="" />
                    </div>
                </div>
                <div>
                    <div class="alert alert-success" role="alert">
                        <div>
                            <% if(message){ %>
                                <h5>
                                    <%= message %>
                                </h5>
                                <% } %>
                        </div>
                    </div>




                    <h1 class="light-text">LOGIN</h1>
                    <p class="light-text2">Welcome back, You've been missed! </p>
                    <form method="POST" action="/login">
                        <div class="user-contain">
                            <input type="text" name="username" placeholder="Enter Username" />
                        </div>
                        <div class="user-contain">
                            <input type="password" name="password" placeholder="Password" />
                            <div class="icon form-icon">
                                <!-- <img src="./img/eye.svg" alt="" /> -->
                            </div>
                        </div>
                        <input type="submit" value="Login" />

                    </form>
                </div>
            </div>
        </div>

        <%- include('../partials/footer') %>

</body>
<%- include('../partials/FooterLinks') %>

</html>