<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/headerLinks') %>
    <title>S-Cart :: Welcome Buddy</title>
</head>

<body>

    <%- include('../partials/navbar') %>
    
    <div class="container">
        <div class="row col-md-12">
            <div class="col-md-6">
                <div class="img-box login">
                    <img src="public/img/login.jpg" alt="" />
                </div>
            </div>
            <div class="col-md-6 registerForm">

                <% if(message){ %>
                    <h5><%= message %></h5>
                <% } %>
                
                <h2 style="text-decoration: underline">LOGIN</h2>
                <p>Welcome back, you've been missed </p>
                <form method="POST" action="/login">
                        <input type="text" name="username" placeholder="Enter Username" />
                        <div>
                            <input type="password" name="password" placeholder="Password" />
                            <div class="icon form-icon">
                                <!-- <img src="./img/eye.svg" alt="" /> -->
                            </div>
                        </div>
                        <input type="Submit" value="Login" />

                </form>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>

</body>
<%- include('../partials/FooterLinks') %>
</html>
