<!DOCTYPE html>

<head>
    <%- include("../partials/headerLinks") %>
        <title>S-Cart | Orders</title>
</head>
<style>
    .container {
        margin: 36px 65px;
        padding: 30px 30px;
        border: 1px solid black;
        box-shadow: 0px 6px 11px 6px rgb(35 28 28 / 24%);
    }
</style>

<body>
    <%- include("../partials/navbar") %>
        <% if(products !=null){ %>
            <div class="container">
                <h1 class="feature-title">Orders</h1>

                <% products.forEach(product=> { %>
                    <div class="card mt-4">
                        <div class="card-body">
                            <div class="image">
                                <img src="<%= product.image %>" />
                            </div>
                            <div class="info">
                                <h3>
                                    <%= product.name %>
                                </h3>
                                <p>Price : &#8377;<%= product.price %>
                                </p>
                            </div>
                        </div>
                    </div>
                <% })%>
                        <div>
                            <h4>
                                Total Price: &#8377; <%= totalPrice %>
                            </h4>
                        </div>
            </div>

        <% } %>

        <%- include("../partials/footer") %>
</body>
<script>
    function checkoutPage() {
        window.location.href = "/checkout";
    }
</script>
<%- include("../partials/footerLinks") %>

    </html>